form{
	width:300px;
	margin:auto;
	margin-top:230px;
}
.field{
	display:block;
	width:280px;
	height:42px;
	border-radius:5px;
	outline:none;
	border:1px solid #0767c8;
	margin-bottom:20px;
	font-size:16px;
	padding-left:10px;
}
.subBtn{
	display:inline-block;
	width:280px;
	height:42px;
	outline:none;
	border:none;
	line-height:32px;
	vertical-align:middle;
	border-radius:5px;
	color:white;
	font-size:18px;
	background-color:#0767c8;
}
ul.theme-list{
	list-style:none;
	margin:0px;
	padding:0px;
}
ul.theme-list li{
	box-sizing:border-box;
	float:left;
	margin-bottom:20px;
	cursor:pointer;
	display:inline-block;
	height:42px;
	line-height:42px;
	vertical-align:middle;
	padding:0px 10px;
	border-radius:5px;
	margin-right:10px;
}
ul.theme-list li:hover{
	opacity:.8;
}
.basic{
	background-color:#ccc;
	color:black;
	box-shadow:3px 3px 6px 3px grey;
}
.fancy{
	background-color:violet;
	color:white;
}
.lushijie{
	background-color:#575560;
	color:white;
}