*{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
html,body{
	margin:0;
	padding:0;
	width:100%;
	height:auto;
}
a{
	color:black;
}
a:hover{
	color:#0767c8;
}
.container{
	width:82%;
	max-width:820px;
	min-width:740px;
	height:auto;
	margin:auto;
}
h1{
	position:relative;
}
h1:hover>.save-as-picture{
	display:block;
}
h1>.save-as-picture{
	display:none;
	position:absolute;
	cursor:pointer;
	border-radius:5px;
	background-color:#ddd;
	border:1px solid #ccc;
	left:20px;
	padding:10px 10px;
	top:8px;
	color:black;
}
.resume{
	width:100%;
	height:600px;
	position:relative;
}
.resume .title{
	text-align:center;
}
.basic-info{
	height:240px;
	position:relative;
	clear:both;
}
.category-title{
	background-color:#0767c8;
	width:200px;
	height:50px;
	line-height:50px;
	vertical-align:middle;
	text-align:center;
	position:relative;
	color:white;
}
.category-title:before,.category-title:after{
	content:"";
	position:absolute;
	width:0;
	height:0;
}
.category-title:before{
	left:-30px;
	border-left:15px solid transparent;
	border-top:25px solid transparent;
	border-right:15px solid #0767c8;
	border-bottom:25px solid #0767c8;
}
.category-title:after{
	right:-30px;
	border-left:15px solid #0767c8;
	border-top:25px solid #0767c8;
	border-right:15px solid transparent;
	border-bottom:25px solid transparent;
}
.basic-info .personal-profile{
	width:70%;
	float:left;
	height:180px;
}
.personal-profile .info-item{
	font-weight:bold;
}
.personal-profile ul{
	list-style:none;
}
.personal-profile ul li{
	width:50%;
	float:left;
	height:60px;
}
.basic-info .personal-avatar{
	width:30%;
	float:left;
	height:180px;
}
.basic-info .personal-avatar img{
	text-align:center;
	width:60%;
	height:160px;
}
.repositories{
	position:relative;
}
ul.repo-info-list{
	list-style:none;
	position:relative;
	clear:both;
	overflow:hidden;
	margin:0px;
	padding:0px;
}
ul.repo-info-list li{
	float:left;
	padding-right:30px;
}
ul.repo-info-list li span:first-child{
	border-bottom-left-radius:5px;
	border-top-left-radius:5px;
	background-color:#ddd;
	padding:0px 10px;
	font-size:16px;
	line-height:38px;
	display:inline-block;
	height:38px;
	vertical-align:middle;
	border:1px solid #ccc;
}
ul.repo-info-list li span:last-child{
	border-bottom-right-radius:5px;
	border-top-right-radius:5px;
	padding:0px 5px;
	font-size:16px;
	line-height:38px;
	background-color:white;
	color:#0767c8;
	font-weight:bold;
	border:1px solid #ccc;
	display:inline-block;
	height:38px;
	vertical-align:middle;
	border-left:none;
}
.repository h4{
	border:1px solid #ccc;
	background-color:#ddd;
	height:80px;
	border-radius:5px;
	padding-left:10px;
	padding-top:6px;
}
h4{
	line-height:32px;
}
h4>span{
	background-color:#ddd;
	border:1px solid #ccc;
	border-radius:5px;
	padding:3px 6px;
	margin:0 4px;
}
