<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title><%=user.name %>的Github简历</title>
<link type="text/css" rel="stylesheet" href="/static/css/theme/<%=theme %>.css" />
<link type="text/css" rel="stylesheet" href="/static/css/octicons/octicons.css" />
</head>
<body>
  <div class="container">
    <!-- 简历开始 -->
    <div class="resume">
      <h1 class="title"><%=user.name %>的Github简历<span id="download" class="save-as-picture octicon octicon-desktop-download">&nbsp;保存为图片</span></h1>
      <span style="display:none;" id="username"><%=username %></span><span style="display:none;" id="theme"><%=theme %></span>
      <!-- 基本信息开始 -->
      <div class="basic-info">
        <h2 class="basic-title category-title">基本信息</h2>
        <div class="personal-profile">
          <ul>
            <li><span class="info-item">用户名:</span> <span class="username"><%=user.name %></span></li>
            <li><span class="info-item">公司:</span> <span class="company"><%=user.company %></span></li>
            <li><span class="info-item">个人博客: </span><span class="blog"><a href=<%=user.blog %> ><%=user.blog %></a></span></li>
            <li><span class="info-item">加入时间: </span><span class="joinTime"><%=user.joinTime.replace(/T|Z/g, ' ') %></span></li>
            <li><span class="info-item">关注你的人数: </span><span class="followers"><%=user.followers %></span></li>
            <li><span class="info-item">关注了的人数: </span><span class="following"><%=user.following %></span></li>
          </ul>
        </div>
        <div class="personal-avatar">
          <img src=<%=user.avatarPic %> />
        </div>
      </div>
      <!-- 基本信息结束 -->

      <!-- 项目信息开始 -->
      <div class="repositories">
        <h2 class="repository-title category-title">项目信息</h2>
        <% popularRepos.forEach(function(repository, index){ %>
            <div class="repository">
              <p>
                <h3><a href=<%=repository.html_url %> ><%=repository.name %></a></h3>
                <ul class="repo-info-list">
                  <li><span class="repo-info octicon octicon-text-size">&nbsp;size: </span><span><%=repository.size %>k</span></li>
                  <li><span class="repo-info octicon octicon-star-add">&nbsp;star: </span><span><%=repository.stargazers_count %></span></li>
                  <li><span class="repo-info octicon octicon-eye-unwatch">&nbsp;watcher: </span><span><%=repository.watchers_count %></span></li>
                  <li><span class="repo-info octicon octicon-repo-forked">&nbsp;fork: </span><span><%=repository.forks_count %></span></li>
                  <li><span class="repo-info octicon octicon-git-commit">&nbsp;commits: </span><span><%=commitsCountObj[repository.name] %></span></li>
                </ul>
              </p>
              <h4>
                <%=repository.description? repository.description : 'This repository has no description' %>
              </h4>
            </div>
        <% }); %>
      </div>
      <!-- 项目信息结束 -->
    </div>
  </div>
  <!-- 简历结束 -->

  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="/static/js/theme_basic.js"></script>
</body>
</html>