<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>New ThinkJS Application</title>
<link type="text/css" rel="stylesheet" href="/static/css/index.css" />
</head>
<body>
  <div class="container">
    <!-- 提交表单开始-->
    <form action="/home/index/resume" method="post">
      <input type="input" placeholder="请输入Github用户名" name="username" />
      <input type="password" placeholder="请输入Github密码" name="password" />
      <input type="submit" value="生成Github简历" />
    </form>
    <!-- 提交表单结束 -->
  <script src="/static/js/index.js"></script>
</body>
</html>